{% extends 'main_base.html' %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ package['title'] }}</h3>
		</div>
		<div class="panel-body">
			<p class="">Details: {{ package['details'] }}</p>
			<p class="">Status: {{ package['status'] }}</p>
			<p class="">Courier: {{ courier['name'] }}</p>
			<p class="">Locker: {{ locker['name'] }}</p>
			<p class="">Package_ID: {{ package['package_id'] }}</p>
		</div>
	</div>
{% endblock %}
